.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: .5s;
  &.active{
    top: -30px;
    transition: .5s;
  }
  &__top{
    background: #939878;
    padding: 10px 0;
    text-align: center;
    position: relative;
    &-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      color: #fff;
    }
    &-close{
      cursor:pointer;
      position: absolute;
      top: 8px;
      right: 100px;

    }
  }
  &__end{

  }

}